

<%- include('header') %> 

<style>
  .form-select{
    color:black;
  }  

  .cssrat{
      color:darkgoldenrod;
  }
  .btn{
      color:cornsilk;
  }
    
</style>

<div class="container pt-3 bg-dark text-white" style="border-radius: 0;">
    <div class="row main">
    <% for(const fands of filmeseries) {%> 
        <div class="col-lg-6 col-12 my-5 rcol">
            <h3 class="product text-center"><%=fands.nome%> </h3>
            <div class="image text-center">
                <img class="img-fluid" src=<%=`/uploads/${fands.img}`%> width="300px"  height="350px">
            </div>
            <p class="text-center my-3">O lançamento deste titúlo foi na data de <%=fands.data%> <br>
        </div>
        <div class="col-lg-6 col-12 my-5 scol">
         <br><br>
            <div class="row r3">
                <h4 class="h4" >Categoria: <%=fands.categoria%></h4>
            </div>
            <div class="row r4">
                <h5 class="payment-method">Nota de avalição:                       
                    <span class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <%= fands.nota %>
                </span></h5>
            </div>
            <div class="row r5">
                <h5 class='h5' >Quantidade de comentários: 172</h5   >
            </div>
            <br><br><br>
            <form action=<%=`/commits/${fands.id}`%> method="POST">
                <div class="row  r4">
                    <h4 class="h4"> Sua avaliação: </h4>
                    <select class="form-select" style="margin-left:4px ; text-align: center; border-radius: 20px;" name="starnota" > size="3" aria-label="size 3 select example">
                        <option selected>Dê sua nota</option>
                        <option value="1" class="cssrat">✭</option>
                        <option value="2" class="cssrat">✭✭</option>
                        <option value="3" class="cssrat">✭✭✭</option>
                        <option value="2" class="cssrat">✭✭✭✭</option>
                        <option value="3" class="cssrat">✭✭✭✭✭</option>
                      </select>
                </div>
                <div class=" col-md-8 mb-3">
                    <br><br>
                    <div class="input-group ">
                        <input type="text" class="form-control" name="starcommit" placeholder="Deixe seu comentário aqui..."> 
                        <div class="col-md-6 col-12">
                            <button class="btn glyphicon glyphicon-send "> 
                                Enviar 
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            </div>
        </div>
    </div>
    <% } %>
</div>
<div class="container pt-3 bg-light text-white" style="border-radius: 0;">
    <div class="card text" style="color: black;">
        <div class="card-header">
        Comentários
        </div>
            <% for(const avl of avaliacao) {%> 
            <div class="card-body">
                <h5 class="card-title"><strong>Username</strong> </h5>
                <p class="card-text"><%=avl.comentario%></p>
            </div>
            <div class="card-footer text-muted"> enviado em <%=avl.createdAt%>
            </div>
            <span class="btn" style="color: black;" ><a href="#">apagar</a></span>
            <% } %>

    </div>

</div>
