
<%-include('header')%>
<div class="container ">
<form class="form-inline" action="/search" method="POST">
    <input class="form-control col-sm-11 mr-sm-9" type="text" placeholder="Encontre aqui através do código ou nome..." aria-label="Search" name="search" style="background-color: transparent; color: white;">
    <button class="btn btn-outline my-2 my-sm-0" style="background-color: blueviolet; color:white; padding-left: 10;" type="submit">Buscar</button>
  </form>
</div>
  
<section class="container mt-5 container-fluid">
    <form action="/list" method="GET">
      
        <div class="'container mt-5'">
        <div class="row">
            <% for(const fands of filmeseries) {%> 
            <div class="col-md-4">
                <div class="card p-3">       
                  
                    <div class="d-flex flex-row mb-3">
                        <img src=<%=`/uploads/${fands.img}`%> width="70">
                        <div class="d-flex flex-column ml-2">
                            <span><%= fands.nome %></span>
                            <span class="text-black-50"><%= fands.categoria %> </span>
                                <span class="ratings">
                                    <%if(fands.nota <= 1) { %>
                                        <i class="fa fa-star"></i>
                                    
                                    <%}else if(fands.nota <= 2) { %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    
                                    <%}else if(fands.nota <= 3) { %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                     
                                    <%}else if(fands.nota <= 4) { %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                     
                                    <%}else if(fands.nota <= 5) { %>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    <% } %> 
                                <%= fands.nota %>
                            </span>
                        </div>
                    </div>
                    <h6>Código: <%=fands.id%> </h6>
                    <div class="d-flex justify-content-between install mt-3"><span>Comentários: <%=fands.idCommmit%></span><span class="text-primary" ><a href=<%=`/filefilter/${fands.id}`%>> Views </a><i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
            <% } %>
        </div>
    </div>

     </div>
    </form>
    <br><br><br>
    </section>  

    <!--nav aria-label="...">
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav-->
<%- include('footer') %> 
